# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules/
**/dist/
/apps/frontend/.pnp
/apps/frontend/.pnp.*

# testing
/apps/frontend/coverage

# next.js
/apps/frontend/.next/
/apps/frontend/out/

# production
/apps/frontend/build

# env files (can opt-in for committing if needed)
*.env
**/*.env
