services:
  frontend-app:
    container_name: frontend
    build:
      context: ./apps/frontend
      dockerfile: ./Dockerfile.${MODE}
    ports:
      - ${FRONTEND_PORT}:${FRONTEND_PORT}
    environment:
      FRONTEND_PORT: ${FRONTEND_PORT}
      NEXT_PUBLIC_BACKEND_URL: ${NEXT_PUBLIC_BACKEND_URL}
      BACKEND_URL: ${BACKEND_URL}
    volumes:
      - ./apps/frontend:/usr/src/app
    command: sh -c "npm install && npm run dev"

volumes:
  mongo_data: {}
